<link rel='stylesheet' href='/stylesheets/style.css' />
<div class="wrapper">
    <div id="zombie-preview" class="zombie-preview">
        <img id="head" class="head" alt="">
        <img id="eyes" class="eyes" alt="">
        <img id="mouth" class="mouth" alt="">
        <img id="shirt"  class="shirt" alt="">
        <img id="left-upper" src="/images/zombieparts/left-upper-arm-1@2x.png" class="left-upper" alt="">
        <img id="right-upper" src="/images/zombieparts/right-upper-arm-1@2x.png" class="right-upper" alt="">
        <img src="/images/zombieparts/left-forearm-1@2x.png" class="left-forearm" alt="">
        <img src="/images/zombieparts/right-forearm-1@2x.png" class="right-forearm" alt="">
        <img src="/images/zombieparts/hand1-1@2x.png" class="hand1" alt="">
        <img src="/images/zombieparts/hand-2-1@2x.png" class="hand2" alt="">
        <img src="/images/zombieparts/catlegs.png" class="catlegs" alt="">
        <div class="zombie-name">
            <div id="zombieName" class="name">Im Zombie</div>
            <hr>
            <div id="zombieLevel" class="level">Lv: 25</div>
        </div>
    </div>
    <div class="zombie-create">
        <div class="form-group">
            <label for="usr">Detail :</label>
            <input type="text" class="form-control" id="usr" placeholder="Zombie detail">
            <button type="button" onclick="letCombat();" class="btn btn-success btn-block">Let combat</button>
        </div>
    </div>
</div>

<script>

    function letCombat() {
        $.get('/zombie-attack', (data) => {
            window.location.href = "/zombie-attack";
        });
    }
    window.addEventListener('load', function () {
        var web3js = new Web3(web3.currentProvider);
        var cryptZombies = new web3js.eth.Contract(abi, contractAdress, {
            from: address1,
            data: data
        });

        var account = window.localStorage.getItem('account');
        console.log("40", account);

        getZombiesByOwner(account, cryptZombies, (hash) => {
            displayZombies(hash, cryptZombies);

        });

    });
    function displayZombies(ids, cryptoZombies) {
        for (id of ids) {
            // Look up zombie details from our contract. Returns a `zombie` objec
            getZombieDetails(id, cryptoZombies, (hash) => {
                console.log("52", hash);
                console.log("54", hash.dna);
                var result = hash.dna;
                var head = (result.substring(0, 2) % 7) + 1;
                var eyes = (result.substring(2, 4) % 11) + 1;
                var mouth = (result.substring(4, 6) % 2) + 1;
                var shirt = (result.substring(6, 8) % 6) + 1;
                var left_upper = (result.substring(8, 10));
                var right_upper = (result.substring(10, 12));
                $("#head").attr("src", "/images/zombieparts/head-" + head + "@2x.png");
                $("#eyes").attr("src", "/images/zombieparts/eyes-" + eyes + "@2x.png");
                $("#mouth").attr("src", "/images/zombieparts/mouth-" + mouth + "@2x.png");
                $("#shirt").attr("src", "/images/zombieparts/shirt-" + shirt + "@2x.png");
                $("#zombieName").text(hash.name);
                $("#zombieLevel").text(hash.level)
            });
        }
    }

    function getZombieDetails(id, cryptoZombies, hash) {
        cryptoZombies.methods.zombies(id).call(function (err, result) {
            hash(result);
        });
    }

    function zombieToOwner(id, cryptoZombies) {
        return cryptoZombies.methods.zombieToOwner(id).call()
    }

    function getZombiesByOwner(owner, cryptoZombies, hash) {
        cryptoZombies.methods.getZombiesByOwner(owner).call(function (err, result) {
            hash(result);
        });
    }
</script>