<link rel='stylesheet' href='/stylesheets/style.css' />
<div class="wrapper">
    <div class="zombie-preview">
        <img src="/images/zombieparts/head-7@2x.png" class="head" alt="">
        <img src="/images/zombieparts/eyes-4@2x.png" class="eyes" alt="">
        <img src="/images/zombieparts/mouth-1@2x.png" class="mouth" alt="">
        <img src="/images/zombieparts/shirt-4@2x.png" class="shirt" alt="">
        <img src="/images/zombieparts/left-upper-arm-1@2x.png" class="left-upper" alt="">
        <img src="/images/zombieparts/right-upper-arm-1@2x.png" class="right-upper" alt="">
        <img src="/images/zombieparts/left-forearm-1@2x.png" class="left-forearm" alt="">
        <img src="/images/zombieparts/right-forearm-1@2x.png" class="right-forearm" alt="">
        <img src="/images/zombieparts/hand1-1@2x.png" class="hand1" alt="">
        <img src="/images/zombieparts/hand-2-1@2x.png" class="hand2" alt="">
        <img src="/images/zombieparts/catlegs.png" class="catlegs" alt="">
        <div class="zombie-name">
            <div class="name">Im Zombie</div>
            <hr>
            <div class="level">Lv: 25</div>
        </div>
    </div>
    <div class="zombie-create">
        <div class="form-group">
            <label for="usr">Welcome :</label>
            <input type="text" class="form-control" id="usr" placeholder="You can login Meta-Mask before start game !!">
            <button type="button"  class="btn btn-success btn-block">You can login  start game !</button>
        </div>
    </div>
</div>
