body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
  height: 900px;
  width: 100%;
  background-image: url('/images/background/walls.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 50px 50px;
}

.zombie-preview {
  height: 800px;
  width: 445px;
  background-image: url('../images/background/lesson-complete-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  float: left;
}
label{
  font-weight: 900;
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
color: rgba(58, 227, 116,1.0);
}
  hr{
    border-top: 1px solid #FEFEFE;
  }
.form-control{
  padding: 25px 10px;
  margin-bottom: 15px;
}
::placeholder {
  color: pink;
  opacity: 0.8;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

.zombie-create {
  float: left;
  width: 30%;
  height: 200px;
  background: rgba(87, 96, 111,0.8);
  margin-left: 100px;
  padding: 15px 20px;
  margin-top: 440px;
  border-radius: 5px;
}
.zombie-attack {
  float: left;
  width: 50%;
  height: 100px;
  margin-left: 100px;
  padding: 0px 20px;
  border-radius: 5px;
}

.head {
  position: absolute;
  top: 200px;
  left: 110px;
  width: 200px;
  z-index: 5;
}

.eyes {
  position: absolute;
  top: 275px;
  left: 180px;
  width: 95px;
  z-index: 6;
}

.mouth {
  position: absolute;
  top: 328px;
  left: 205px;
  width: 50px;
  z-index: 6;
}

.shirt {
  position: absolute;
  top: 325px;
  left: 125px;
  width: 125px;
  z-index: 4;
}

.left-upper {
  position: absolute;
  top: 350px;
  left: 165px;
  width: 70px;
  z-index: 5;
}

.right-upper {
  position: absolute;
  top: 353px;
  left: 200px;
  width: 60px;
  z-index: 3;
}

.hand1 {
  position: absolute;
  top: 381.5px;
  left: 205px;
  width: 60px;
  z-index: 5;
}

.hand2 {
  position: absolute;
  top: 378px;
  left: 242px;
  width: 51px;
  z-index: 4;
}

.left-forearm {
  position: absolute;
  top: 396px;
  left: 193px;
  width: 50px;
  z-index: 5;

}

.right-forearm {
  position: absolute;
  top: 390px;
  left: 223px;
  width: 50px;
  z-index: 4;
}

.catlegs {
  position: absolute;
  top: 355px;
  left: 101px;
  width: 128px;
  z-index: 3;

}

.zombie-name {
  position: absolute;
  top: 540px;
  left: 78px;
  width: 70%;
  padding: 15px 10px;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
}